@model IEnumerable<BookStoreV10.Models.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Book Management</h1>

<button style="background-color:#ccc;  padding:15px; border-radius:5px; ">
    <a asp-action="Create" style="text-decoration:none;">Create New</a>
</button>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Describe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Describe)
            </td>
            <td>
                $ @Html.DisplayFor(modelItem => item.Price)
            </td>
                <td>
                    <!-- Display the image with a link to the full-size image -->
                    <a href="@item.Image" target="_blank">
                        <img src="@item.Image" alt="Cover Image" style="max-width: 100px; max-height: 100px; display: block; margin: auto;">
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreOwner.StoreOwnerId)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
